* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #010e1b;
}

.navbar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0px;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 20px 100px;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.navbar-scroll {
  background-color: #09203a;
  padding: 20px 50px;
}

.navbar a {
  text-decoration: none;
  color: white;
  background-color: transparent;
  font-size: 25px;
  font-weight: 700;
  width: max-content;
}

.navbar button {
  display: none;
}

.navbar .navbar-content {
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  width: 50%;
  transition: all 0.3s ease-in-out;
  padding: 0px 200px;
}

.navbar .navbar-content-mobile {
  display: none;
}

.navbar .navbar-content.navbar-content-scroll {
  padding: 0px 100px;
}

.navbar .navbar-content a {
  text-decoration: none;
  color: white;
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.navbar .navbar-content a:hover {
  color: rgb(0, 255, 0);
}

.navbar .navbar-content a:focus {
  text-decoration: underline;
  color: rgb(0, 255, 47);
}

main {
  width: 100%;
}

main .content {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

main .profile {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

main .profile .contact {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

main .profile .contact a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  background: white;
  border-radius: 100%;
}

main .profile .contact a img {
  width: 30px;
  height: 30px;
  background: white;
}

main .profile .profile-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 100%;
  display: block;
}

main .profile p {
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

main .profile .name {
  margin-top: 20px;
}

main .profile .name span {
  color: rgb(0, 255, 0);
}

main .lane {
  width: 50%;
  height: 5px;
  background-color: white;
  border-radius: 500px;
}

/* About Section */
main .about {
  width: 100%;
  height: 100vh;
  padding: 100px 100px 0px 100px;
}

main .about .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .about .title .lane-in-about {
  width: 150px;
  height: 3px;
  background-color: white;
  border-radius: 500px;
}

main .about .title h2 {
  color: white;
  text-transform: uppercase;
}

main .about .about-content {
  display: flex;
  align-items: start;
  margin-top: 50px;
  width: 100%;
  gap: 30px;
}

main .about .about-content img {
  width: 60%;
  border-radius: 10px;
}

main .about .about-content p {
  color: white;
  width: 80%;
  text-align: justify;
  font-size: 20px;
  padding-right: 100px;
  line-height: 30px;
}

main .about .about-content p a {
  text-decoration: none;
  color: rgb(0, 255, 0);
}

/* Skills Section */
main .skills {
  width: 100%;
  /* height: 100vh; */
  margin-top: -50px;
  padding: 100px 100px 0px 100px;
}

main .skills .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .skills .title .lane-in-skills {
  width: 150px;
  height: 3px;
  background-color: white;
  border-radius: 500px;
}

main .skills .title h2 {
  color: white;
  text-transform: uppercase;
}

main .skills .skills-content {
  margin-top: 50px;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 100px;
  width: 85%;
  justify-content: space-between;
}

/* Frontend Section */
main .skills .skills-content .frontend {
  color: white;
  font-size: 25px;
}

main .skills .skills-content .content-frontend {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}

main .skills .skills-content .html,
.css,
.javascript,
.react,
.nextjs,
.tailwind,
.typescript {
  display: flex;
  align-items: center;
  gap: 20px;
}

main .skills .skills-content .html img {
  width: 60px;
  height: 60px;
}

main .skills .skills-content .css img {
  width: 60px;
  height: 60px;
}

main .skills .skills-content .javascript img {
  width: 60px;
  height: 60px;
}

main .skills .skills-content .react img {
  width: 60px;
  height: 50px;
}

main .skills .skills-content .nextjs img {
  width: 60px;
  height: 60px;
}

main .skills .skills-content .tailwind img {
  /* width: 60px; */
  height: 35px;
}

main .skills .skills-content .typescript img {
  width: 60px;
  height: 60px;
}

/* Backend Section */
main .skills .skills-content .backend {
  color: white;
  font-size: 25px;
}

main .skills .skills-content .content-backend {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}

main .skills .skills-content .python,
.nodejs,
.golang {
  display: flex;
  align-items: center;
  gap: 20px;
}

main .skills .skills-content .python img {
  width: 60px;
  height: 60px;
}

main .skills .skills-content .nodejs img {
  width: 60px;
  height: 60px;
}

main .skills .skills-content .golang img {
  width: 60px;
  height: 60px;
}

/* Other Section */
main .skills .skills-content .other {
  color: white;
  font-size: 25px;
}

main .skills .skills-content .content-other {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 30px;
}

main .skills .skills-content .git,
.github,
.figma {
  display: flex;
  align-items: center;
  gap: 20px;
}

main .skills .skills-content .git img {
  width: 60px;
  height: 60px;
}

main .skills .skills-content .github img {
  width: 60px;
  height: 60px;
}

main .skills .skills-content .figma img {
  height: 60px;
  margin-right: 20px;
}

/* Projects Section */
main .projects {
  width: 100%;
  /* height: 100vh; */
  padding: 100px 100px 0px 100px;
  /* overflow: hidden; */
  margin-top: 100px;
}

main .projects .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .projects .title .lane-in-projects {
  width: 150px;
  height: 3px;
  background-color: white;
  border-radius: 500px;
}

main .projects .title h2 {
  color: white;
  text-transform: uppercase;
}

main .projects .projects-content {
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 10px;
  width: 85%;
  flex-wrap: wrap;
}

main .projects .projects-content .template-projects {
  width: 350px;
  background-color: #09203a;
  padding: 20px;
  border-radius: 20px;
  transition: ease-in-out 0.1s;
}

main .projects .projects-content .template-projects:hover {
  transform: scale(1.03);
}

main .projects .projects-content .template-projects img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

main .projects .projects-content .template-projects .projects-description {
  margin-top: 20px;
  color: white;
}

main .projects .projects-content .template-projects .projects-description h2 {
  text-align: center;
}

main
  .projects
  .projects-content
  .template-projects
  .projects-description
  .lane {
  width: 80%;
  height: 3px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

main
  .projects
  .projects-content
  .template-projects
  .projects-description
  .links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

main
  .projects
  .projects-content
  .template-projects
  .projects-description
  .links
  .link-projects {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: white;
  transition: ease-in-out 0.2s;
}

main
  .projects
  .projects-content
  .template-projects
  .projects-description
  .links
  .link-projects:hover {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: rgb(0, 255, 0);
}

main
  .projects
  .projects-content
  .template-projects
  .projects-description
  .links
  .link-projects
  img {
  width: 30px;
  height: max-content;
}

/* Certificates Section */
main .certificates {
  width: 100%;
  /* height: 100vh; */
  /* margin-top: -50px; */
  padding: 100px 100px 0px 100px;
  margin-top: 100px;
}

main .certificates .title {
  display: flex;
  align-items: center;
  gap: 10px;
}

main .certificates .title .lane-in-certificates {
  width: 150px;
  height: 3px;
  background-color: white;
  border-radius: 500px;
}

main .certificates .title h2 {
  color: white;
  text-transform: uppercase;
}

main .certificates .certificates-content {
  margin-top: 50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
  padding: 10px;
  width: 85%;
  flex-wrap: wrap;
}

main .certificates .certificates-content .template-certificates {
  width: 350px;
  background-color: #09203a;
  padding: 20px;
  border-radius: 20px;
  transition: ease-in-out 0.1s;
  height: 410px;
}

main .certificates .certificates-content .template-certificates:hover {
  transform: scale(1.03);
}

main .certificates .certificates-content .template-certificates img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

main
  .certificates
  .certificates-content
  .template-certificates
  .certificates-description {
  margin-top: 20px;
  color: white;
}

main
  .certificates
  .certificates-content
  .template-certificates
  .certificates-description
  h2 {
  text-align: center;
}

main
  .certificates
  .certificates-content
  .template-certificates
  .certificates-description
  .lane {
  width: 80%;
  height: 3px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

main
  .certificates
  .certificates-content
  .template-certificates
  .certificates-description
  .from {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
}

/* Contacts Section */
main .contacts {
  width: 100%;
  /* height: 100vh; */
  /* margin-top: -50px; */
  margin-top: 100px;
}

main .contacts .title {
  display: flex;
  align-items: center;
  padding: 100px 100px 0px 100px;
  gap: 10px;
}

main .contacts .title .lane-in-contacts {
  width: 150px;
  height: 3px;
  background-color: white;
  border-radius: 500px;
}

main .contacts .title h2 {
  color: white;
  text-transform: uppercase;
}

main .contacts .contacts-content {
  width: 50%;
  margin: 100px auto;
}

/* Phone Number */
main .contacts .contacts-content .phone-number {
  color: white;
}

main .contacts .contacts-content .phone-number div {
  display: flex;
  align-items: center;
  gap: 20px;
}

main .contacts .contacts-content .phone-number div i {
  font-size: 30px;
}

main .contacts .contacts-content .phone-number p {
  font-size: 20px;
  margin-top: 20px;
}

/* Email */
main .contacts .contacts-content .email {
  color: white;
  margin-top: 50px;
}

main .contacts .contacts-content .email div {
  display: flex;
  align-items: center;
  gap: 20px;
}

main .contacts .contacts-content .email div i {
  font-size: 30px;
}

main .contacts .contacts-content .email p {
  font-size: 20px;
  margin-top: 20px;
}

/* Location */
main .contacts .contacts-content .location {
  color: white;
  margin-top: 50px;
}

main .contacts .contacts-content .location div {
  display: flex;
  align-items: center;
  gap: 20px;
}

main .contacts .contacts-content .location div i {
  font-size: 30px;
}

main .contacts .contacts-content .location p {
  font-size: 20px;
  margin-top: 20px;
}

/* Form */
main .contacts .contacts-content form {
  color: white;
  margin-top: 50px;
  overflow: visible;
}

main .contacts .contacts-content form input {
  width: 95%;
  padding: 15px;
  margin: 3px;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  background-color: #09203a;
  color: white;
  font-size: 20px;
}

main .contacts .contacts-content form p#errorName,
p#errorEmail {
  margin-top: 10px;
  font-size: 15px;
  color: red;
  margin-left: 10px;
  display: none;
}

main .contacts .contacts-content form p#errorName.error,
p#errorEmail.error {
  margin-top: 10px;
  font-size: 15px;
  color: red;
  margin-left: 10px;
  display: block;
}

main .contacts .contacts-content form textarea {
  width: 95%;
  padding: 15px;
  margin: 3px;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  background-color: #09203a;
  color: white;
  font-size: 20px;
}

main .contacts .contacts-content form button {
  width: 99%;
  padding: 15px;
  margin: 3px;
  margin-top: 30px;
  border-radius: 10px;
  border: none;
  background-color: #09203a;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

main .contacts .contacts-content form button:hover {
  background-color: #0a2a4e;
}

/* Footer Section */
footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #09203a;
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  position: relative;
  bottom: 0px;
  margin-top: 100px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Media Queries */
@media screen and (max-width: 500px) {
  /* About Section */
  main .about .title {
    padding: 100px 0px 0px 30px !important;
  }

  /* Skills Section */
  main .skills .title {
    padding: 100px 0px 0px 30px !important;
  }

  /* Projects Section */
  main .projects .title {
    padding: 100px 0px 0px 30px !important;
  }

  main .projects .projects-content .template-projects {
    width: 80%;
  }

  /* Certificates Section */
  main .certificates .title {
    padding: 100px 0px 0px 30px !important;
  }

  main .certificates .certificates-content .template-certificates {
    width: 80% !important;
  }

  /* Contacts Section */
  main .contacts .title {
    padding: 100px 0px 0px 30px !important;
  }

  main .contacts .contacts-content form input {
    width: 90% !important;
  }

  main .contacts .contacts-content form textarea {
    width: 90% !important;
  }

  main .contacts .contacts-content form button {
    width: 99% !important;
  }
}

@media screen and (max-width: 1000px) {
  .navbar a {
    font-size: 15px;
  }
  .navbar {
    padding: 20px 50px;
  }

  .navbar-scroll {
    padding: 20px 20px;
  }

  .navbar button {
    margin: 0px 100px !important;
  }

  .navbar button.hamburger-scroll {
    margin: 0px 50px !important;
  }

  main .profile {
    flex-direction: column;
    text-align: center;
  }

  main .profile .contact {
    justify-content: center;
  }

  /* About Section */
  main .about {
    height: max-content;
    padding: 0px;
  }

  main .about .title {
    padding: 100px 0px 0px 100px;
  }

  main .about .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main .about .about-content p {
    padding: 0px;
    margin: auto;
  }

  /* Skills Section */
  main .skills {
    margin-top: 50px;
    padding: 0px;
  }

  main .skills .title {
    padding: 100px 0px 0px 100px;
  }

  main .skills .skills-content {
    flex-direction: column;
    width: 100%;
    gap: 150px;
    align-items: center;
    justify-content: center;
  }

  /* Projects Section */
  main .projects {
    margin-top: 50px;
    padding: 0px;
  }

  main .projects .title {
    padding: 100px 0px 0px 100px;
  }

  main .projects .projects-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0px;
    gap: 50px;
  }

  /* Certificates Section */
  main .certificates {
    margin-top: 50px;
    padding: 0px;
  }

  main .certificates .title {
    padding: 100px 0px 0px 100px;
  }

  main .certificates .certificates-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0px;
    gap: 50px;
  }

  /* Contacts Section */
  main .contacts {
    margin-top: 50px;
    padding: 0px;
  }

  main .contacts .title {
    padding: 100px 0px 0px 100px;
  }

  main .contacts .contacts-content {
    width: 90%;
    padding: 0px;
  }

  main .contacts .contacts-content form {
    width: 100%;
  }

  main .contacts .contacts-content form input {
    width: 93%;
  }

  main .contacts .contacts-content form textarea {
    width: 93%;
  }

  main .contacts .contacts-content form button {
    width: 97%;
  }
}

@media screen and (max-width: 1165px) {
  .navbar button {
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    transition: all 0.3s ease-in-out;
    margin: 0px 200px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }

  .navbar button.hamburger-scroll {
    margin: 0px 100px;
  }

  .navbar .navbar-content {
    display: none;
  }

  .navbar .navbar-content-mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-radius: 20px;
    width: 70%;
    padding: 50px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    transition: all 0.3s ease-in-out;
    background: #0a2a4e;
    opacity: 0;
    visibility: hidden;
  }

  .navbar .navbar-content-mobile.show {
    opacity: 1;
    visibility: visible;
  }

  .navbar .navbar-content-mobile a {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    transition: ease-in-out 0.2s;
  }

  .navbar .navbar-content-mobile a:hover {
    color: rgb(0, 255, 0);
  }
}
